venv
public
.vscode
__pycache__

# Exclude YouTube video data from YouTube API (would soil git history)
data/video_data.json
data/channel_data.json

# Svelte
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

yarn.lock
