aiohttp
beautifulsoup4
black
google-api-python-client
jsonschema
loguru
numpy
pandas
pip-tools
pre-commit
pytest
python-dotenv
PyYAML
tqdm
validators
httpx
Pillow
mypy
pandas-stubs
types-jsonschema
types-PyYAML
types-pytz
types-requests
types-tqdm
types-beautifulsoup4
types-Pillow
