<center>
    <!-- ClimateTown socials -->
    <a href="https://www.youtube.com/c/ClimateTown">
        <img src="https://img.shields.io/youtube/channel/subscribers/UCuVLG9pThvBABcYCm7pkNkA?label=ClimateTown&style=social"
            aria-label="ClimateTown" /></a>
    <a href="https://twitter.com/ClimateTown">
        <img src="https://img.shields.io/twitter/follow/ClimateTown?label=ClimateTown&style=social"
            aria-label="ClimateTown Twitter" /></a>

    <p>Built with ❤ by the ClimateTown community</p>
</center>