<!-- YouTube feed styling -->
<style>
  div.thumbnail-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  a.thumbnail {
    display: inline-grid;
    max-width: 12em;
    border-radius: 5px;
    height: auto;
    padding: 0;
    margin: 0.5em;
  }

  .thumbnail img {
    width: 100%;
    height: auto;
    margin: 0 !important;
    padding: 0;
  }

  .thumbnail p {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .thumbnail:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
</style>


<!-- YouTube feed -->
{{ if .Site.Data.video_data }}
<div class="thumbnail=-gri">
  {{ range .Site.Data.video_data }}
  <a class="thumbnail" id="{{.videoId}}" channel="{{.channelId}}" href="https://youtu.be/{{.videoId}}">
    <img src="https://i.ytimg.com/vi/{{.videoId}}/hqdefault.jpg" alt="Video thumbnail">
    <div class="caption">
      <p>{{.title | safeHTML }}</p>
    </div>
  </a>
  {{ end }}
</div>
{{ else }}
<p>An error occured :( . Please <a href="https://github.com/ClimateTown/knowledge-hub">report an issue on GitHub</a></p>
{{ end }}