@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}

/* reset native el styles */
details > summary {
  list-style: none;
}

details > summary::marker,
details > summary::-webkit-details-marker {
  display: none;
}

/* animate svg on native el open state change */
details:not([open]) > summary svg {
  transform: rotate(-90deg);
}

/* show entire label parent keyboard outline when inner input focused */
.input-wrapper-focus:focus-within {
  outline: auto;
}

.tag-color {
  background-color: var(--tag-color) !important;
}

.dark .tag-color {
  background-color: var(--tag-color-dark) !important;
}
